<%= content_for :title, "CV Uploaded" %>
<div class="min-h-screen flex items-center justify-center px-4">
  <div class="w-full max-w-lg">
    <div class="card">
      <%= render "processing" %>
    </div>
  </div>
</div>
